<html>
<head>
	<title>MAP</title>


	<!-- bower:css -->
	<link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
	<!-- endbower -->


	<link rel="stylesheet" type="text/css" href="./css/styles.css">


	<!-- bower:js -->
	<script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
	<!-- endbower -->


</head>
<body>

	<h2>Welcome to "demoapp" Yeoman Generator</h2>
	<div class="jumbotron">
		<img src="./assets/images/yeoman.png">

		<div id="overviewPanel" class="panel panel-default">
		  <div class="panel-body">
		  	  <h3>What the base app gives you</h3>
			  <ul>
			  	<li>gulp (with live reload)</li>
			  	<li>bower</li>
			  	<li>bootstrap</li>
			  	<li>jQuery</li>
			  </ul>
		  </div>
		</div>

		<div id="overviewPanel" class="panel panel-default">
		  <div class="panel-body">
		  	  <h3>Test out some jQuery</h3>
		  	  <input type="text" id="inputText" />
		  	  <div id="btnTestjQuery" class="btn btn-default">test some jQuery</div>
		  </div>
		</div>
	</div>

	<script type="text/javascript" src="./js/scripts.js"></script>
</body>
</html>